body {
  font-family: Raleway;
}

.flex-container {
  background-color: #f2f2f2;
  height: auto;
  width: 150rem;
  border-radius: 16px;
  margin-bottom: 40px;
}

.flex-container2 {
  background-color: #f2f2f2;
  height: 590px;
  width: 100%;
  border-radius: 16px;
}

.row {
  background-color: white;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

header {
  display: flex;
  font-size: 70%;
}

.menu {
  list-style-type: none;
  overflow: visible;
  margin-left: auto;
}

.acts {
  display: flex;
  flex-flow: row;
}

h2 {
  overflow: hidden;
  background-color: white;
  color: #0065fc;
  float: right;
}

h2 a {
  display: block;
  color: #0065fc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu > h2 a:hover {
  text-decoration: underline;
}

.acts > h2 a:hover {
  text-decoration: underline;
}

.active {
  color: black;
}

.logo {
  float: left;
  height: 60px;
  width: 160px;
}

.logo img {
  object-fit: contain;
  height: 60px;
  width: 150px;
}

.links {
  text-align: center;
  width: 10em;
  height: 5px;
  background-color: white;
  font-size: 15px;
}

.reservia-description {
  display: block;
}

.reservia-description > h1 {
  padding: 0px;
}

.reservia-description > p {
  padding-bottom: 20px;
}

.searching {
  list-style-type: none;
  display: flex;
  gap: 25px;
  padding: 20px 20px 3px 0px;
  font-size: 15px;
}

.searching > li {
  background-color: white;
  color: Black;
  line-height: 35px;
}

.second a {
  color: Black;
  border: solid 2px #ddd;
  border-radius: 20px;
  font-size: 13px;
  text-decoration: none;
  float: right;
  padding: 0px 12px 30px 0px;
  width: auto;
}

.second a:hover {
  border: solid 2px black;
}

.button {
  background-color: #deebff;
  color: #0065fc;
  border: none;
  height: 26px;
  width: 30px;
  font-size: 15px;
  border-radius: 20px;
  float: left;
  padding: 5px;
  margin-right: 5px;
}

.filter {
  border: none;
  display: inline;
  color: Black;
  text-align: center;
  padding: 16px;
}

.info {
  width: 400px;
  padding-left: 10px;
  display: flex;
  gap: 5px;
}

.info > button {
  background-color: white;
  border: none;
  font-size: 20px;
  color: #0065fc;
}

.info > p {
  padding-top: 15px;
}

h1 {
  font-size: 20px;
}

h3 {
  padding-left: 20px;
}

.show-more {
  padding-left: 20px;
  font-size: 15px;
  color: black;
  background-color: inherit
}

#main {
  background-color: #eee;
  border-radius: 9px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  height: 92.5%
}

#main > figure {
  background-color: white;
  box-shadow: 0 0 3px #ccc;
  border: solid 2px #eee;
  border-radius: 12px;
  margin: 1rem;
  width: 220px;
  height: 200px;
}

#main > figure > img {
  width: 210px;
  height: 100px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
  padding: 5px;
}

#main > figure:hover {
  border: solid 2px black;
}

.desc {
  font-size: 16px;
  padding: 5px;
}

.desc > i {
  color: #0065fc;
  padding-top: 15px;
  padding-left: 5px;
}

.desc h4 {
  margin: 0;
}

.desc p {
  margin: 0;
}

.desc2 {
  font-size: 14px;
  padding-left: 2px;
}

.desc2 h4 {
  margin-bottom: 0.2rem;
}

.desc2 p {
  margin-bottom: 1rem;
}

.desc2 > i {
  color: #0065fc;
}

#minor {
  background-color: #eee;
  border-radius: 9px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  float: right;
  justify-content: center;
}

#minor > figure:hover {
  border: solid 2px black;
}

#minor > figure {
  background-color: white;
  box-shadow: 0 0 3px #ccc;
  border: solid 2px #eee;
  border-radius: 9px;
  margin: 1rem;
  padding: 10px;
  width: 80%;
  height: 120px;
  column-count: 2;
  gap: 2px;
}

#minor > figure > img {
  width: 120px;
  height: 120px;
  border-radius: 9px 0px 0px 9px;
  object-fit: cover;
}

.chart {
  display: flex;
  gap: 16rem;
}

.chart > i {
  padding-top: 25px;
}

.left4 {
  background-color: white;
  box-shadow: 0 0 3px #ccc;
  border-radius: 9px;
  height: 200px;
}


.footer {
  column-count: 3;
  background-color: #f2f2f2;
  padding: 10px;
  width: 100%;
}

.footer > div {
  padding: 10px;
}

.empty {
  color: #eee;
}

.bottom {
  display: flex;
  flex-flow: row wrap;
  height: 400px;
  gap: 0px;
}

.left3 {
  background-color: white;
  box-shadow: 0 0 3px #ccc;
  border: solid 2px white;
  border-radius: 12px;
  height: 300px;
  width: 300px;
  padding: 0px;
  margin: 0px;
}

.left3 > img {
  border-radius: 9px 9px 0px 0px;
  width: 300px;
  height: 90%;
  object-fit: cover;
}

.left3:hover {
  border: solid 2px black;
}

.left4 {
  height: 140px;
  width: 300px;
  border: solid 2px white;
  background-color: #eee;
  border-radius: 12px;
  padding-bottom: 2px;
  margin: 0px;
  padding: 5px;
}

.left4 > img {
  border-radius: 9px 9px 0px 0px;
  width: 100%;
  height: 83%;
  object-fit: cover;
}

.left4:hover {
  border: solid 2px black;
}

.searchform input[type="text"] {
  padding: 20px;
  font-size: 17px;
  height: 5px;
  background: white;
  border: 5px;
}

.searchend {
  text-align: center;
  width: 80px;
  height: 40px;
  padding: 10px;
  background: #0065fc;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 0px 9px 9px 0px;
}

.searchform {
  display: flex;
}

.map {
  width: 30px;
  height: 40px;
  font-size: 15px;
  border-radius: 9px 0px 0px 9px;
  border: none;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
}

@media only screen and (max-width: 480px) {
  body {
    align-self: center;
  }

  .navbar {
    width: 98%;
  }

  .menu {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 20px 3px 0px;
    overflow: visible;
    width: 100%;
  }

  .logo {
    padding: 0px;
    height: 0.1rem;
  }

  .logo img {
    object-fit: contain;
    height: 110px;
    width: 90px;
    padding-left: 20px;
  }

  #signup {
    margin-left: auto;
    display: inline;
  }

  .acts {
    display: flex;
    flex-flow: row-reverse;
    padding: 0px;
  }

  #acc {
    border-bottom: 3px solid;
    margin-bottom: auto;
    width: 60%;
  }

  .active {
    border-bottom: 3px solid #eee;
    margin-bottom: 1rem;
    width: 14rem;
  }

  .reservia-description {
    padding-left: 1.5rem;
  }

  .searchform {
    margin-left: 1rem;
  }

  .searching li:nth-child(1) {
    width: 100%;
  }

  .searching {
    flex-flow: wrap;
    width: 23.5rem;
  }

  .second a {
    padding: 0px 35px 32px 0px;
    margin: 0px 14px;
  }

  .button {
    margin-right: 0px;
  }

  .info {
    width: 80%;
  }

  .row {
    flex-flow: column-reverse nowrap;
    gap: 70%;
    overflow: hidden;
    width: 98%;
  }

  .flex-container {
    height: auto;
    margin-bottom: 0rem;
    background-color: white;
    width: 100%;
  }

  #main {
    display: block;
    background-color: #eee;
    border-radius: 9px;
    justify-content: center;
    background-color: white;
  }

  #main > figure {
    background-color: white;
    border-radius: 9px;
    padding: 10px;
    width: auto;
    height: auto;
  }

  #main > figure > img {
    width: 100%;
    padding: 0px;
  }

  #main p {
    font-size: 98%;
  }

  #main h4 {
    font-size: 98%;
    margin: 0px;
  }

  .desc {
    height: 3rem;
  }

  .desc > i {
    margin: 0px;
    padding: 0px;
    font-size: 60%;
  }

  .show-more {
    float: left;
    margin-bottom: 2rem;
  }

  .row1 {
    width: 96%;
  }
  .flex-container2 {
    margin-bottom: 2rem;
    flex-flow: column wrap;
    height: 600px;
  }

  .chart {
    gap: 8rem;
    padding-right: 20px;
  }

  .chart > i {
    margin-left: auto;
  }

  #minor {
    height: auto;
  }

  #minor > figure {
    width: 85%;
    height: 130px;
    padding: 6px;
  }

  #minor > figure > img {
    height: 100%;
  }

  #minor h4 {
    font-size: 98%;
  }

  #minor p {
    font-size: 98%;
    padding-top: 0.2rem;
    padding-bottom: 0.1rem;
  }

  .desc2 > i {
    margin: 0px;
    padding: 0px;
    font-size: 60%;
  }

  .desc2 {
    width: 98%;
    margin: 2px;
  }

  .desc2 h4 {
    font-size: 100%;
  }

  .desc2 p {
    font-size: 100%;
  }

  #Activities {
    padding: 0px 15px;
    height: auto;
  }

  .bottom {
    flex-flow: column wrap;
    margin-bottom: 20px;
    height: auto;
    justify-content: center;
    width: 100%;
  }

  .bottom > div {
    width: 95%;
  }

  .bottom > figure {
    width: 95%;
  }

  .leftalone {
    height: 150px;
  }

  .left3 {
    height: 150px;
    width: auto;
  }

  .left3 > img {
    height: 120px;
    width: 100%
  }

  .two {
    width: 95%;
    height: auto;
  }

  .left4 {
    width: auto;
    margin-bottom: 20px;
  }

  .footer {
    column-count: 1;
    display: flex;
    flex-flow: column wrap;
    padding: 0px;
    width: 100%;
  }

  .footer > div {
    width: 90%;
  }

  .footer > div > p {
    font-size: 100%;
  }

  .empty {
    display: none;
  }
}
